body {
  margin: 3rem;
  font-family: helvetica, sans-serif;
  background-color: #f5f5f5;
  letter-spacing: 2px;
}

.custom-link {
    text-decoration: none;  /* Remove underline */
    color: black !important; 
  }

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 1;
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav a {
  letter-spacing: 2px;
  padding: 6px 8px 6px 1px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.sidenav a:hover {
  color: #4D4D4D !important;
}

.sidenav a:visited {
  color: black !important;  /* Return to standard color (e.g., black) after clicking */
}

.sidenav a:active {
  color: black !important;  /* Optional: color when link is actively clicked */
}


.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 16px; /* Increased text to enable scrolling */
  line-height: 1;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust columns dynamically */
    gap: 40px; /* Space between grid items */
}

.custom-link img {
  width: 100%;
  height: auto;
}

.custom-link .category {
  font-size: 80%;
  letter-spacing: 3px;
}

.custom-link .title {
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 1px;
}

.custom-link .description {
  font-size: 90%;
  letter-spacing: 1px;
  font-family: georgia, serif;
}

.custom-link hr {
    border: 1px solid black; /* Set all lines to the same width */
}